.checkbox {
  display: flex;
  gap: 1em;
  align-items: center;
  text-align: center;
  align-content: center;

  &.responsive {
    display: none;

    @media (max-width: 769px) {
      display: flex;
      margin-left: 1.75em;
      margin-top: .5em;
    }
  }

  @media (max-width: 769px) {
    display: none;
  }

  .input {
    width: 20px;
    height: 20px;
    border: 1px solid var(--checkbox-border-color);
    border-radius: 2px;
    cursor: pointer;

    .field {
      border: 1px;
      width: 20px;
      height: 20px;
      border-color: var(--checkbox-border-color);
    }
  }

  .label {
    text-align: center;
    align-content: center;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 17px;
  }
}
