@import "../../../assets/css/colors.scss";

.background {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .container__image {
      width: 20%;
      cursor: pointer;
    }

    .container__text {
      margin-right: 2em;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      color: $blue;
      transition: 0.4s ease-in-out;

      &:hover {
        transition: 0.4s ease-in-out;
        transform: scale(1.1);
        font-weight: bold;
      }
    }
  }

  .container__hello {
    margin-top: 3em;
    display: flex;
    flex-direction: column;

    .hello {
      .title {
        font-weight: 600;
        line-height: 45px;
      }

      .paragraph {
        margin-top: 1em;
        color: $gray;
      }
    }

    .options {
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: space-around;
      margin-top: 2em;

      .box {
        align-content: center;
        text-align: center;
        border: 1px solid $black;
        border-radius: 0.5em;
        width: 137px;
        height: 40px;
        cursor: pointer;

        span {
          font-size: 10px;
          font-weight: bolder;
          border: 2px solid $black;
          border-radius: 0.4em;
          padding: 0.05em;
        }
      }
    }

    .bars {
      margin-top: 2em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1em;
      .bar {
        width: 271px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .text {
        color: $gray;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
