/* CSS lado direito da pagina */

.background {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2em;
  background: var(--secondary-color);

  @media (max-width: 769px) {
    width: 100%;
    margin: 0;
    height: 100vh;
  }

  /* Mobile */
  .container__mobile {
    display: none;

    @media (max-width: 769px) {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      border-bottom: 1px solid #0000001a;
      width: 100%;
      height: 60px;

      &_arrow {
        display: flex;
        align-items: center;
        border-radius: 1em;
        border: 1px solid var(--primary-color);
        margin-left: 1em;
        padding: 0.5em;
        cursor: pointer;

        .icon {
          color: var(--primary-color);
        }
      }

      &_text {
        margin-right: 1em;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        color: var(--primary-color);
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .container__image {
      cursor: pointer;
      display: flex;
      gap: 0.5em;
      align-items: center;

      .image {
        width: 20%;
      }

      p {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 500;
      }

      @media (max-width: 769px) {
        margin-left: 1.5em;
        margin-top: 1em;

        p {
          font-size: 20px;
        }
      }
    }

    .container__text {
      margin-right: 2em;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      color: var(--blue);
      transition: 0.4s ease-in-out;

      &:hover {
        transition: 0.4s ease-in-out;
        transform: scale(1.1);
        font-weight: bold;
      }

      @media (max-width: 769px) {
        display: none;
      }
    }
  }

  .options__container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    .hello {
      .title {
        font-weight: 600;
        line-height: 45px;
        color: var(--primary-color);
      }

      .paragraph {
        margin-top: 1em;
        color: var(--gray);
      }

      @media (max-width: 769px) {
        margin-left: 1.5em;
        .title {
          font-size: 18px;
        }

        .paragraph {
          margin-top: 0.5em;
          font-size: 16px;
        }
      }
    }

    .options {
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: space-around;
      margin-top: 2em;

      @media (max-width: 769px) {
        gap: 0;
        justify-content: space-evenly;
      }

      .box {
        align-content: center;
        text-align: center;
        border: 1px solid var(--primary-color);
        border-radius: 0.5em;
        width: 137px;
        height: 40px;
        cursor: pointer;

        &.responsive {
          @media (max-width: 769px) {
            border-color: var(--checkbox-border-color);
          }
        }

        @media (max-width: 769px) {
          cursor: none;
          width: 70px;
        }

        .google {
          display: none;

          @media (max-width: 769px) {
            display: inline;
          }
        }

        span {
          font-size: 10px;
          font-weight: bolder;
          border: 2px solid var(--primary-color);
          color: var(--primary-color);
          border-radius: 0.4em;
          padding: 0.05em;

          @media (max-width: 769px) {
            display: none;
          }
        }

        .icon {
          color: var(--primary-color);
        }
      }
    }

    .bars {
      margin-top: 2em;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 769px) {
        gap: 0;
        justify-content: space-evenly;
      }

      .bar {
        width: 271px;
        height: 1px;
        background-color: var(--gray);
        opacity: 0.5;

        @media (max-width: 769px) {
          width: 153px;
          opacity: 0.2;
        }
      }

      .text {
        color: var(--gray);
        font-weight: 500;
        font-size: 14px;

        @media (max-width: 769px) {
          text-transform: uppercase;
        }
      }
    }
  }
}
