.submit {
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--text-color);

  .icon {
    position: relative;
    left: 190px;
  }

  .btn__login {
    width: 100%;
    padding: 0.5em;
    background-color: var(--blue);
    border-radius: 0.5em;
    border: 2px solid var(--blue);
    cursor: pointer;
    color: var(--text-color);
    font-weight: 500;

  }
  
}
