:root {
  --primary-color: #232323;
  --secondary-color: #fff;
  --text-color: var(--secondary-color);
  --text-color-secondary: var(--primary-color);
  --gray: #585858;
  --secondary-gray: #c5c5c5;
  --terciary-gray: #555555;
  --disabled-color: #222222;
  --blue: #0761e2;
  --checkbox-border-color: #6a6a6a;
}

[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #232323;
  --text-color-secondary: #ededed;
  --moon-background: var(--primary-color);
  --moon-color: var(--secondary-color);
  --checkbox-border-color: #5c5c5c;
  --gray: #909090;
}
